@font-face {
  font-family: Metropolis;
  src: url('../fonts/Metropolis-Regular.ttf');
}
@font-face {
  font-family: Metropolis-Bold;
  src: url('../fonts/Metropolis-Bold.ttf');
}
@font-face {
  font-family: Metropolis-Black;
  src: url('../fonts/Metropolis-Black.ttf');
}
@font-face {
  font-family: Metropolis-Light;
  src: url('../fonts/Metropolis-Light.ttf');
}
@font-face {
  font-family: Metropolis-Medium;
  src: url('../fonts/Metropolis-Medium.ttf');
}
@font-face {
  font-family: Metropolis-Thin;
  src: url('../fonts/Metropolis-Thin.ttf');
}
body {}
  * {
    font-family: Metropolis;
    outline: none;
  }
  .header_main {
    position: relative;
    background: url('../img/header_bg.png') center bottom no-repeat;
    width: 100%;
    height: 100vh;
    min-height: 738px;
    padding-top: 52px;
    color: #fff;
  }
  .header_main:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .9;
    background-image: linear-gradient(#cb0035, #e06900);
  }
  .header_main nav ul {
    list-style: none;
    padding: 0;
  }
  .header_main nav ul li {
    display: inline-block;
  }
  .header_main nav ul li a {
    font-size: 18px;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 19px;
    padding: 12px 20px;
    text-decoration: none;
    transition: border-color .2s ease;
  }
  .header_main nav ul li a:hover, .header_main nav ul li a:focus {
    border-color: #ea974f;
  }
  .promo {
    margin-top: 20vh;
    text-align: center;
  }
  .promo>div {
    margin-top: 60px;
  }
  .promo h1 {
    font-family: Metropolis-Bold;
    font-size: 45px;
  }
  .promo p {
    color: #ea974f;
  }
  .promo a {
    margin-right: 20px;
    padding: 16px 30px;
    font-size: 18px;
    font-family: Metropolis-Light;
    color: #fff;
    border: 1px solid #ea974f;
    border-radius: 25px;
    transition: all .2s ease;
  }
  .promo a span {
    font-size: 28px;
    vertical-align: middle;
    margin-right: 18px;
  }
  .promo a:hover, .promo a:focus {
    color: #d32721;
    background: #fff;
    border-color: #fff;
    text-decoration: none;
  }
  .header_main .header_scroll_down {
    position: absolute;
    bottom: 80px;
    left: 50%;
    padding-top: 55px;
    cursor: pointer;
    font-size: 14px;
    font-family: Metropolis-Light;
    background: url('../img/mouse.png') center top no-repeat;
    animation: fly 1.2s linear infinite;
  }
  /* The animation code */
  @keyframes fly {
    0% {background-position-y: 0px;}
    25% {background-position-y: 10%;}
    50% {background-position-y: 25%;}
    75% {background-position-y: 10%;}
    100% {background-position-y: 0%;}
  }

  section {
    padding: 100px;
  }
  section.gray_bg {
    background-color: #f6f6f6;
  }
  section.gray_bg > div {
    margin-top: 40px;
  }
  .gray_bg .img_block {
    height: 103px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .gray_bg .img_block img {
    vertical-align: middle;
  }
  .gray_bg h4 {
    font-size: 30px;
  }
  .gray_bg p {
    font-size: 16px;
    color: #5e6372;
    line-height: 1.667;
  }
  .gray_bg a {
    display: inline-block;
    padding: 15px 55px;
    margin-top: 100px;
    border-radius: 25px;
    font-size: 16px;
    font-family: Metropolis-Light;
    color: #fff;
    background-image: linear-gradient(to right, #264699, #4964a9);
    transition: all .3s ease;
  }
  .gray_bg a:hover, .gray_bg a:focus {
    color: #fff;
    text-decoration: none;
    box-shadow: 2px 2px 11px 1px #716f6f
  }

  section.bg_drone {
    background: url('../img/drone_big.png') center right no-repeat;
    counter-reset: my_counter;
  }
  section.bg_drone h1 {
    font-size: 48px;
  }
  section.bg_drone h5 {
    font-size: 18px;
    line-height: 1.667;
    color: #5e6372;
  }
  section.bg_drone .block_option {
    position: relative;
    display: inline-block;
    padding-left: 80px;
    margin-top: 50px;
  }
  section.bg_drone .block_option:before {
    counter-increment: my_counter;
    content: counter(my_counter);
    position: absolute;
    left: 0;
    top: 13%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    color: #3f4e76;
    text-align: center;
    line-height: 2;
    border-radius: 50%;
    border: 2px solid rgb(199, 205, 224);
  }
  section.bg_drone .block_option p {
    font-size: 14px;
    color: #a7acbc;
  }

  section.with_fluid {
    padding: 0;
  }
  section.with_fluid div {
    padding: 0;
  }

  section.with_fluid .explanation {
     padding: 10% 15% 10px 78px;
  }
  section.with_fluid .explanation h1 {
    font-size: 48px;
  }
  section.with_fluid .explanation h5 {
    font-size: 17px;
    line-height: 1.667;
    color: #5e6372;
  }
  section.with_fluid .explanation a {
    display: inline-block;
    padding: 15px 55px;
    margin-top: 55px;
    border-radius: 25px;
    font-size: 16px;
    font-family: Metropolis-Light;
    color: #fff;
    background-image: linear-gradient(to right, #264699, #4964a9);
    transition: all .3s ease;
  }
  section.with_fluid .explanation a:hover {
    color: #fff;
    text-decoration: none;
    box-shadow: 2px 2px 11px 1px #716f6f
  }
  section.with_fluid iframe {
    width: 100%;
    height: 640px;
  }

  section.subscribe {
    padding-left: 0;
    position: relative;
    text-align: center;
    background: url('../img/subscribe_bg.png') center center no-repeat;
  }
  section.subscribe::before {
    content: '';
    position: absolute;
    /* background: linear-gradient(to right, #cb0035 35%, #e06900 ); */
    background-image: -moz-linear-gradient( 51deg, #cb0035 0%, #e06900 100%);
    background-image: -webkit-linear-gradient( 51deg, #cb0035 0%, #e06900 100%);
    background-image: -ms-linear-gradient( 51deg, #cb0035 0%, #e06900 100%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
  }
  section.subscribe h1 {
    margin-top: 40px;
    font-size: 48px;
    font-family: Metropolis-Bold;
    color: #fff;
  }
  section.subscribe form {
    margin-top: 30px;
    margin-bottom: 85px;
  }
  section.subscribe input {
    background: rgba(255, 250, 224, 0.2);
    color: #fff;
    border: 1px solid rgba(255, 234, 130, .2);
    border-radius: 30px;
    padding: 18px 30px;
    width: 350px;
  }

  section.subscribe input::placeholder {
    color: #fff;
    opacity: 1;
    font-size: 16px;
  }
  section.subscribe button {
    border-radius: 35px;
    padding: 16px 35px;
    color: #d32721;
    font-family: Metropolis-Light;
    font-size: 18px;
    background: #fff;
    margin-left: -50px;
    border: none;
  }

section.google_map {
  padding: 0;
}
section.google_map #map {
  width: 100%;
  height: 607px;
}
section.google_map {}

footer {
  padding: 65px;
}
footer p {
  text-align: center;
  font-size: 18px;
  font-family: Metropolis-Light;
  color: #a7acbc;
}
footer a {
  color: #a7acbc;
  font-family: Metropolis-Bold;
}

.topnav .icon {
  display: none;
}

@media (max-width: 1200px) {
  .header_main ul.topnav li a {
    padding: 8px 10px;
  }
}

@media screen and (max-width: 1024px) {
  section.bg_drone {
    background: none;
}
}
@media screen and (max-width: 992px) {
  section, footer {
      padding: 30px 10px;
  }
  .gray_bg a {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .header_main ul.topnav {
    padding-top: 15px;
    transition: all 1s ease-in;
    z-index: 10;
  }
  .header_main ul.topnav li {
    display: none;
    padding: 8px;
  }
  .header_main ul.topnav li:hover, .header_main ul.topnav li:focus {
    background: #fff;
    color: #cc143c;
    transition: all .3s ease-in;
  }
  .header_main ul.topnav li a {
    border: none;
    color: inherit;
  }
  .header_main ul.topnav a.icon {
    float: right;
    display: block;
    position: absolute;
    right: 25px;
    top: -28px;
    color: #fff;
    font-size: 25px;
  }
  .topnav.responsive {position: relative;}
  .header_main ul.responsive a.icon {
    right: 10px;
  }
  .header_main .topnav.responsive li {
    float: none;
    display: block;
    /* text-align: left; */
  }
}

@media screen and (max-width: 768px) {
  .header_nav {
    width: 100%;
    text-align: center;
  }
  .gray_bg > div > div {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 520px) {
  .promo a {
    display: block;
    width: 100%;
    margin-top: 30px;
  }
  .header_scroll_down {
    display: none;
  }
  section.subscribe h1 {
    font-size: 38px;
  }
  section.subscribe input {
    text-align: center;
    width: 100%;
  }
  section.subscribe button {
    margin-top: 10px;
    width: 100%;
    margin-left: 0px;
  }
}

@media screen and (max-width: 425px) {
  section.bg_drone .block_option {
    padding-left: 25px;
    margin-top: 30px;
  }
  section.bg_drone .block_option:before {
    counter-increment: my_counter;
    content: counter(my_counter)')';
    position: absolute;
    left: 0;
    top: 3px;
    width: 30px;
    height: 0px;
    font-size: 14px;
    color: #3f4e76;
    text-align: center;
    line-height: 1;
    border: none;
  }
}
  .gradient_text {
    font-family: Metropolis-Bold;
    background-image: -webkit-gradient(linear, left top, 45deg, color-stop(0%, #CB0036), color-stop(46%, #DA4910), color-stop(100%, #e06900));
    background-image: -moz-linear-gradient(45deg,#CB0036 0%,#DA4910 46%,#e06900 100%);
    background-image: -webkit-linear-gradient(45deg,#CB0036 0%,#DA4910 46%,#e06900 100%);
    background-image: -o-linear-gradient(45deg,#CB0036 0%,#DA4910 46%,#e06900 100%);
    background-image: -ms-linear-gradient(45deg,#CB0036 0%,#DA4910 46%,#e06900 100%);
    background-image: linear-gradient(45deg,#CB0036 0%,#DA4910 46%,#e06900 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
